fly.toml app configuration file generated for meyazegim on 2025-12-05T11:46:20+02:00

See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'meyazegim'
primary_region = 'fra'

[build]
builder = "heroku/buildpacks:20" # <-- הוספנו את ההוראה הזו בחזרה!

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
memory_mb = 1024
