# fly.toml app configuration file generated for meyazegim on 2025-12-02T07:08:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'meyazegim'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
fly.toml

קונפיגורציה מתאימה להרצת Gunicorn באמצעות Buildpack של Heroku

app = "meyazegim"
primary_region = "fra"

[build]
builder = "heroku/buildpacks:20"

הפקודה שתרוץ - היא תשתמש ב-Procfile

[processes]
app = "gunicorn app:app"

[[services]]
internal_port = 8080 # הפורט הפנימי אליו Gunicorn אמור להיקשר
protocol = "tcp"

[[services.ports]]
port = 80
handlers = ["http"]

[[services.ports]]
port = 443
handlers = ["tls", "http"]

[services.concurrency]
type = "connections"
hard_limit = 25
soft_limit = 20

[[services.tcp_checks]]
interval = "15s"
timeout = "2s"
grace_period = "10s"
